@media (max-width: 992px) {
    .first_section .container .icons_sect .icons_content .icons_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .first_section .container .icons_sect .icons_content .icons_box .icons_item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
    }
    .first_section .container .price_sect .price_content .price_box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        gap: 10px;
    }
    .first_section .container .card_sect .card_content .card_text span {
        width: 65%;
        font-size: 17px;
        line-height: 25px;
    }
    
    
}

@media (max-width: 924px) {
    .first_section .container .promo_sect .promo_content .promo_content_item:nth-child(2) {
        width: 50%;
    }
    .first_section .container .promo_sect .promo_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .first_section .container .card_sect .card_content .card_box .card_box_item span {
        font-size: 18px;
        text-align: center;
        width: 90%;
    }

}



@media (max-width: 714px) {
    
    .first_section .container .promo_sect .promo_content .promo_content_item:nth-child(2) span {
        font-size: 18px;
        line-height: 30px;
    }
    .first_section .container .card_sect .card_content .card_text span {
        width: 100%;
        font-size: 17px;
        line-height: 25px;
    }
    .first_section .container .header header .header_item .header_elem img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: none;
    }

    .first_section .container .card_sect .card_content .card_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        gap: 25px;
    }

    .first_section .container .price_sect .price_content .price_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        gap: 25px;
    }
}

@media (max-width: 826px) {
    .first_section .container .qualification .qualification_content .qualification_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 25px;
    }

    .basement_sect .container .basement_content .basement_box .basement_item .log-form h2 {
        font-weight: 700;
        font-size: 42px;
        margin-bottom: 30px;
        text-align: center;
    }

    .basement_sect .container .basement_content .basement_box {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column-reverse;
        gap: 25px;
    }
}


@media (max-width: 574px) {
    .first_section .container .promo_sect .promo_content .promo_content_item:nth-child(2) span {
        font-size: 16px;
        line-height: 30px;
    }
    .first_section .container .promo_sect .promo_content .promo_content_item:nth-child(2) .bolt {
        font-size: 30px;
    }
    .first_section .container .card_sect .card_content .card_text span {
        width: 100%;
        text-align: center;
        font-size: 15px;
        line-height: 25px;
    }
    .first_section .container .promo_sect .promo_content .promo_content_item:nth-child(2) .bolt {
        font-size: 29px;
    }

    .first_section .container .header header .header_item .header_elem button {
        height: 50px;
        width: 180px;
        border: 0;
    }
}

@media (max-width: 484px) {
    .first_section .container .promo_sect .promo_content .promo_content_item:nth-child(2) span {
        font-size: 14px;
        line-height: 30px;
    }
    

    .first_section .container .promo_sect .promo_content .promo_content_item:nth-child(2) .bolt {
        font-size: 25px;
    }

    .first_section .container .icons_sect .icons_content .icons_box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .first_section .container .price_sect .price_content .price_box {
        display: grid;
        grid-template-columns: repeat(1, 70%);
        justify-content: space-evenly;
        gap: 25px;
    }

    .first_section .container .header header .header_item .header_elem button {
        height: 50px;
        width: 190px;
    }
    
    .first_section .container .header header .header_item .header_elem button {
        height: 50px;
        width: 175px;
        border: 0;
    }
}